<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h2>Example(s) of the Ember Material Design Datepicker in action</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h3>American Date</h3>
      {{md-datepicker selectedDate=startDate}}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>UK Date</h3>
      {{md-datepicker selectedDate=startDate dateFormat='DD/MM/YYYY'}}
    </div>
  </div>
</div>
